.about {
    margin-top: 10px;
    background-color: #011522;
    border-radius: 8px;
    box-shadow: 10px 10px 21px -4px rgba(0,0,0,0.75);
}

@media (min-width: 480px) {
    .about {
        max-width: 60%;
    }
}

#dark .about {
    background: rgba( 1, 21, 81, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.1 );
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.about-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.about-image img {
    display: grid;
    place-items: center;
    height: 250px;
    width: 250px;
    border-radius: 5%;
}
.about-line {
    display: block;
    width: 150px;
    height: 3px;
    margin: 1px auto;
    background-color: #8a36d2;
}

#dark .about-line {
    background-color: white;
}

.about-title {
    text-align: left;
    padding: 0 15px;
    color: white;
}
.about-details {
    text-align: left;
    color: white;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
   
.tools {
    display: flex;
    align-items: center;
    padding: 9px;
}
.circle {
    padding: 0 4px;
}
.box {
    display: inline-block;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
}
.red {
    background-color: #ff605c;
}
.yellow {
    background-color: #ffbd44;
}
.green {
    background-color: #00ca4e;
}
